
$theme-colors: (
    "primary": #33ff40,
);

$navbar-light-active-color: #33ff40;
$navbar-dark-active-color: #33ff40;

.xpie {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eee;
    background-image: linear-gradient(to right, transparent 50%, #33ff40 0);
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .xpie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
  }
  
  .xpie::after {
    content: attr(data-value);
    position: absolute;
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font: 900 20px/41px Tahoma;
  }
  
  @for $i from 0 through 50 {
    .xpie[data-value="#{$i}"]:before {
      transform: rotate(#{$i/100}turn);
    }
  }
  
  @for $i from 51 through 100 {
    .xpie[data-value="#{$i}"]:before {
      background-color: #33ff40;
      transform: rotate(#{$i/100 - .5}turn);
    }
  }

@import "../../node_modules/bootstrap/scss/bootstrap";